{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:promise/recommended"
    ],
    "plugins": [
        "jest",
        "json",
        "promise"
    ],
    "rules": {
        "comma-dangle": [
            2,
            "never"
        ],
        "no-undef": 2,
        "semi": 2,
        "valid-jsdoc": 0,
        "require-jsdoc": 0,
        "padded-blocks": 0,
        "max-len": [1, 120],
        "indent": [2, 4],
        "jsx-a11y/href-no-hash": 0,
        "import/no-dynamic-require": 0,
        "import/newline-after-import": 0,
        "import/prefer-default-export": 0,
        "promise/always-return": 0,
        "promise/no-return-wrap": "error",
        "promise/param-names": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "promise/no-nesting": "warn",
        "promise/no-promise-in-callback": "warn",
        "promise/no-callback-in-promise": 0,
        "promise/avoid-new": "warn"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6
    },
    "env": {
        "jest/globals": true,
        "node": true,
        "es6": true
    }
}
